## Deliverable 2. Create a Customer Travel Destinations Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [27]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("..\Weather_Database\Weather_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Date
0,0,Alofi,NU,-19.0595,-169.9187,75.09,100,11,5.75,few clouds,2021-07-23 19:35:50
1,1,Barrow,US,71.2906,-156.7887,37.42,93,90,16.11,mist,2021-07-23 19:44:47
2,2,Punta Arenas,CL,-53.1500,-70.9167,41.11,75,0,19.57,clear sky,2021-07-23 19:40:02
3,3,Bluff,NZ,-46.6000,168.3333,40.80,87,87,10.63,overcast clouds,2021-07-23 19:44:48
4,4,Carnarvon,AU,-24.8667,113.6333,59.07,66,90,8.05,overcast clouds,2021-07-23 19:44:48

In [28]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your preferred hottest daily temperature(F) at your destination?"))
max_temp = float(input("What is your preferred minimum daily temperature(F) at your destination?"))

What is the hottest temperature(F) you would like at your destination?70
What is the coldest temperature(F) you would lke  at your destination?90

In [31]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df =city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Date
0,0,Alofi,NU,-19.0595,-169.9187,75.09,100,11,5.75,few clouds,2021-07-23 19:35:50
6,6,Salinopolis,BR,-0.6136,-47.3561,79.75,84,85,12.21,light rain,2021-07-23 19:44:49
8,8,Butaritari,KI,3.0707,172.7902,83.71,73,52,16.71,broken clouds,2021-07-23 19:44:49
9,9,Pasighat,IN,28.0667,95.3333,77.85,96,73,1.72,broken clouds,2021-07-23 19:44:50
10,10,Mahebourg,MU,-20.4081,57.7000,70.09,78,40,6.91,scattered clouds,2021-07-23 19:44:50

In [35]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

1

In [36]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
Date                   0
dtype: int64

In [41]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Alofi,NU,75.09,few clouds,-19.0595,-169.9187,
6,Salinopolis,BR,79.75,light rain,-0.6136,-47.3561,
8,Butaritari,KI,83.71,broken clouds,3.0707,172.7902,
9,Pasighat,IN,77.85,broken clouds,28.0667,95.3333,
10,Mahebourg,MU,70.09,scattered clouds,-20.4081,57.7000,
12,Saint Stephen,GB,71.74,overcast clouds,50.3333,-4.9000,
13,Florence,IT,80.28,clear sky,43.7667,11.2500,
15,Souillac,MU,70.18,scattered clouds,-20.5167,57.5167,
18,Rostovka,RU,70.41,scattered clouds,55.3842,71.8891,
19,Sierra Vista,US,79.81,scattered clouds,31.5545,-110.3037,

In [44]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude" from DataFrame
    lat= row["Lat"]
    lng= row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [52]:
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Alofi,NU,75.09,few clouds,-19.0595,-169.9187,Taloa Heights
6,Salinopolis,BR,79.75,light rain,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
8,Butaritari,KI,83.71,broken clouds,3.0707,172.7902,Isles Sunset Lodge
9,Pasighat,IN,77.85,broken clouds,28.0667,95.3333,Siang Guest House
10,Mahebourg,MU,70.09,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
...,...,...,...,...,...,...,...
706,Langarud,IR,82.38,clear sky,37.1970,50.1535,ستاد اسکان فرهنگیان لنگرود
708,Wajid,SO,75.52,few clouds,3.8093,43.2471,xamdihotelresturant114
709,Grenville,GD,86.05,scattered clouds,12.1167,-61.6167,Valley Breeze Guest House
712,Brasilia De Minas,BR,73.18,overcast clouds,-16.2064,-44.4333,Hotel Neris
713,Olinala,MX,82.02,broken clouds,17.8333,-98.8500,Hotel Neris

In [60]:
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Weather Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [68]:
# 7. Drop the rows where there is no Hotel Name.
#not needed but this is what you would do.
import numpy as np
#clean_hotel_df = hotel_df.replace("", np.nan, regex=True)
#df.dropna(subset=['Tenant'], inplace=True)
clean_hotel_df = hotel_df
clean_hotel_df.rename({'Weather Description': 'Current Description'}, axis=1, inplace=True)
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Alofi,NU,75.09,few clouds,-19.0595,-169.9187,Taloa Heights
6,Salinopolis,BR,79.75,light rain,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
8,Butaritari,KI,83.71,broken clouds,3.0707,172.7902,Isles Sunset Lodge
9,Pasighat,IN,77.85,broken clouds,28.0667,95.3333,Siang Guest House
10,Mahebourg,MU,70.09,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
...,...,...,...,...,...,...,...
706,Langarud,IR,82.38,clear sky,37.1970,50.1535,ستاد اسکان فرهنگیان لنگرود
708,Wajid,SO,75.52,few clouds,3.8093,43.2471,xamdihotelresturant114
709,Grenville,GD,86.05,scattered clouds,12.1167,-61.6167,Valley Breeze Guest House
712,Brasilia De Minas,BR,73.18,overcast clouds,-16.2064,-44.4333,Hotel Neris
713,Olinala,MX,82.02,broken clouds,17.8333,-98.8500,Hotel Neris

In [69]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [73]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [74]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig= gmaps.figure(center=(30.0, 301.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#marker_layer = gmaps.marker_layer(locations, info_box_content='x')
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))